<div class = "col-md-2">

  <h1>All users</h1>

  <table class= "table table-hover">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td> <%= link_to user.username, user %> <%= image_tag url_for(controller: 'users', action: 'show_image', id: user.id) %></td>
      </tr>

      <% end %>
    </tbody>
  </table>

</div>
